@reference "../styles.css";

:host {
    display: block;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('background.png') no-repeat center 0% fixed;
    background-size: cover;
    color: white;
}

.main-content {
    @apply pt-20 min-h-screen flex flex-col items-center justify-center;
}

.content-wrapper {
    @apply container mx-auto px-6;
}