<section class="work-section">
    <div class="work-info-wrapper">
        <h2 class="work-info-title">Un BTS informatique au lycée Dick Ukeiwé</h2>
        <div class="work-info-card">
            <p class="work-info-description">
                Cette formation permet de former de futurs professionnels des réseaux et équipements
                informatiques (installation, maintenance, sécurité) ou de futurs spécialistes des
                logiciels (rédaction d'un cahier des charges, formulation des besoins et spécifications,
                développement, intégration au sein de la société).
            </p>
        </div>


    </div>
  <div class="circles-grid-layout">
    <!-- Left Circle: SISR -->
    <div class="option-circle pos-left">
      <div class="circle-icon">

      </div>
      <h3 class="circle-title">Option<br>réseaux</h3>
      <p class="circle-description">
        En sortant d’un BTS SIO SISR, vous serez capables de gérer et d’administrer le réseau d’une société et d’en assurer la sécurité et la maintenance.﻿
      </p>
    </div>

    <!-- Middle Circle: SLAM -->
    <div class="option-circle pos-middle">
      <div class="circle-icon">

      </div>
      <h3 class="circle-title">Deux<br>spécialités</h3>
      <p class="circle-description">
        L’option réseaux : Solutions d’infrastructure, systèmes et réseaux (SISR ).<br>
        L’option développement : Solutions logicielles et applications métiers (SLAM ).
      </p>
    </div>

    <!-- Left Circle: Both -->
    <div class="option-circle pos-left">
      <div class="circle-icon">

      </div>
      <h3 class="circle-title">Option<br>réseaux</h3>
      <p class="circle-description">
        En sortant d’un BTS SIO SISR, vous serez capables de gérer et d’administrer le réseau d’une société et d’en assurer la sécurité et la maintenance.﻿
      </p>
    </div>

    <!-- Left Circle: Work -->
    <div class="option-circle pos-left">
      <div class="circle-icon">

      </div>
      <h3 class="circle-title">Classique ou<br>en alternance</h3>
      <p class="circle-description">
        En tant qu'apprentis, vous alternerez entre formation à l'école (24semaines) et travail en entreprise (32 semaines).
      </p>
    </div>
  </div>
</section>
